# Global ignores

.DS\_Store
.idea/
.vscode/
\*.swp
\*\~

# Logs

npm-debug.log\*
yarn-debug.log\*
yarn-error.log\*
pnpm-debug.log\*

\############################################

# Front-end (Next.js / Node)

\############################################
node\_modules/
.next/
.out/
.DOCS\_NEXT/

# Environment files (keep a sample in .env.example)

.env\*
!.env.example

\############################################

# Back-end (Python / FastAPI)

\############################################

# Virtual environments

venv/
backend/venv/
.Python

# Compiled files / caches

**pycache**/
\*.py\[cod]
\*.so

# Packaging / build artefacts

build/
dist/
\*.egg-info/
.eggs/

# Coverage / testing

.coverage
.coverage.\*
.cache/
.pytest\_cache/
htmlcov/

\############################################

# AWS Amplify & misc build artefacts

\############################################
amplify/#current-cloud-backend/
amplify/.awscloudformation/

# Docker (local overrides)

docker-compose.override.yml

# End of file
